.Logo {
    background-color: white;
    padding: 0px;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0;
    background-color: #212121;
    display: inline-block;
    margin-right: 20px;
}

    .Logo img {
        margin: 0;
        height: 100%;
    }
